:root {
    --bg: #d9d9d9;
    --header-promo-card-bg: #4f4f4f;
    --whites: #fff;
    --promo-card-grad-1: #6a6a6a;
    --promo-card-grad-2: #444;
    --footer-placeholder: #ffffffd0;
    --blacks: #000000;
    --buy-button: #d96411;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--blacks);
}


header {
    background-color: var(--header-promo-card-bg);
    color: var(--whites);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--whites);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--header-promo-card-bg);
}

.menu-icon {
    font-size: 22px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    background: var(--whites);
    border-radius: 15px;
    padding: 4px 10px;
    flex: 1;
    max-width: 200px;
}

.search-bar input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--whites);
}


main {
    padding: 15px;
}

section {
    margin-bottom: 25px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-image {
    background: var(--bg);
    border-radius: 8px;
    height: 225px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--blacks);
    font-size: 12px;
}

.product-name {
    font-size: 13px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.product-price {
    font-size: 12px;
    color: var(--blacks);
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 10px;
    font-weight: bold
}

.product-buy button {
    background: var(--buy-button);
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
}

footer {
    background: var(--header-promo-card-bg);
    width: 100%;
    padding: 20px 20px 30px;
    color: white;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    color: var(--footer-placeholder);
}


a:link {
    color: white;
    background: transparent;
    text-decoration: none;
}
a:visited {
    color: floralwhite;
    background: transparent;
    text-decoration: none;
}
a:hover {
    color: antiquewhite;
    background: transparent;
    text-decoration: none;
}

.footer-title {
    font-size: 14px;
    margin-bottom: 12px;
    color: white;
}

.footer-subtitle {
    margin: 5px 0 0;
    font-size: 13px;
}

.footer-text {
    margin: 2px 0 6px;
    font-size: 13px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 124px;
    height: 123px;
}

.footer-year {
    font-size: 13px;
    color: var(--footer-placeholder);
}